.tr1{
    color:brown;
    background-color:burlywood;
}
.tr2{
    color:coral;
    background-color: cornsilk;
}
.tr3{
    color:crimson;
    background-color: darkgray;
}
.tr4{
    color:darkgreen;
    border-color: lightsteelblue;
}
.tr5{
    color: magenta;
    background-color: powderblue;
}
.tr6{
    color: rebeccapurple;
    background-color: seashell;
}
.tr7{
    color:sienna;
    background-color: rgb(190, 183, 190);
}
.tr8{
    color:darkslategray;
    background-color: honeydew;
}
.tr9{
    color: indianred;
    background-color: lavender;
}
.tr10{
    color:midnightblue;
    background-color: navajowhite;
}
.tr11{
    color:orange;
    background-color: seashell;
}
.tr12{
    color:brown;
    background-color:burlywood;
}
.tr13{
    color:coral;
    background-color: cornsilk;
}
.tr14{
    color:crimson;
    background-color: darkgray;
}
.tr15{
    color:darkgreen;
    border-color: lightsteelblue;
}
.tr16{
    color: magenta;
    background-color: powderblue;
}
.tr17{
    color: rebeccapurple;
    background-color: seashell;
}
.tr18{
    color:sienna;
    background-color: rgb(190, 183, 190);
}
.tr19{
    color:darkslategray;
    background-color: honeydew;
}
.tr20{
    color: indianred;
    background-color: lavender;
}
.tr21{
    color:midnightblue;
    background-color: navajowhite;
}
.tr22{
    color:orange;
    background-color: seashell;
}
.tr23{
    color:crimson;
    background-color: darkgray;
}
.tr24{
    color:darkgreen;
    border-color: lightsteelblue;
}
.tr25{
    color: magenta;
    background-color: powderblue;
}
.tr26{
    color: rebeccapurple;
    background-color: seashell;
}
.tr27{
    color:sienna;
    background-color: rgb(190, 183, 190);
}
.tr28{
    color:darkslategray;
    background-color: honeydew;
}
.tr29{
    color: indianred;
    background-color: lavender;
}
.tr30{
    color:midnightblue;
    background-color: navajowhite;
}
.tr31{
    color:midnightblue;
    background-color: navajowhite;
}
.tr32{
    color:orange;
    background-color: seashell;
}
.tr33{
    color:crimson;
    background-color: darkgray;
}
.tr34{
    color:darkgreen;
    border-color: lightsteelblue;
}
.tr35{
    color: magenta;
    background-color: powderblue;
}
.tr36{
    color: rebeccapurple;
    background-color: seashell;
}
.tr37{
    color:sienna;
    background-color: rgb(190, 183, 190);
}
.tr38{
    color:darkslategray;
    background-color: honeydew;
}
.tr39{
    color: indianred;
    background-color: lavender;
}
.tr40{
    color:midnightblue;
    background-color: navajowhite;
}
.tr41{
    color:midnightblue;
    background-color: navajowhite;
}
.tr42{
    color:orange;
    background-color: seashell;
}
.tr43{
    color:crimson;
    background-color: darkgray;
}
.tr44{
    color:darkgreen;
    border-color: lightsteelblue;
}
.tr45{
    color: magenta;
    background-color: powderblue;
}
.tr46{
    color: rebeccapurple;
    background-color: seashell;
}
.tr47{
    color:sienna;
    background-color: rgb(190, 183, 190);
}
.tr48{
    color:darkslategray;
    background-color: honeydew;
}
.tr49{
    color: indianred;
    background-color: lavender;
}
.tr50{
    color:midnightblue;
    background-color: navajowhite;
}
.tr51{
    color:midnightblue;
    background-color: navajowhite;
}
.tr52{
    color:orange;
    background-color: seashell;
}
.tr53{
    color:crimson;
    background-color: darkgray;
}
.tr54{
    color:darkgreen;
    border-color: lightsteelblue;
}
